#display php errors
php_flag display_errors on
# enabling HTTP_AUTHORIZATION, disabled by default
 SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

#CUSTOM 404 ERROR PAGE
ErrorDocument 404 /v1/controller/error.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-d
RewriteCond %{REQUEST_FILENAME}% !-f

RewriteRule ^task/([0-9]+)$ controller/task.php?taskid=$1 [L]
RewriteRule ^tasks/complete$ controller/task.php?completed=Y [L]
RewriteRule ^tasks/incomplete$ controller/task.php?completed=N [L]
RewriteRule ^tasks/page/([0-9]+)$ controller/task.php?page=$1 [L]
RewriteRule ^tasks$ controller/task.php [L]

RewriteRule ^users$ controller/users.php [L]

RewriteRule ^sessions/([0-9]+)$ controller/sessions.php?sessionid=$1 [L]
RewriteRule ^sessions$ controller/sessions.php [L]
